<div class="flex justify-center">
  <div class="flex flex-col gap-4 items-center p-5 h-screen w-full md:w-3/4 lg:w-4/6">
    <div class="flex font-bold w-full items-center">
      <span class="flex font-raleway">New Task</span>
    </div>
    <div class="flex items-center content-between w-full gap-2 p-1">
      <div class="flex w-3/4 md:w-5/6 h-full">
        <input
          type="text"
          class="w-full border-2 border-solid rounded-full px-3 placeholder:font-light placeholder:text-sm py-1 outline-none"
          placeholder="Enter task"
        />
      </div>
      <div class="flex w-1/4 md:w-1/6 h-full">
        <button class="w-full bg-[#aa72ff] h-full rounded-full text-white font-semibold text-sm">Add Task</button>
      </div>
    </div>
    <div class="flex items-center w-full">tab area</div>
  </div>
</div>
